/* --------------------------------------- */ 
/* Custom CSS
* --------------------------------------- */

body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0px 100px 0px 100px;
}

section {
  /* height: 900px; */
  width: 960px;
}

svg {
  border: 1px solid gray;
  padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  text-align: center;
}

select {
  width: 100px;
  height: 30px;
}

.tooltip {
  position: absolute;
  background-color: white;
  border: solid;
  border-width: 1px;
  border-radius: 3px;
  padding: 10px;
  z-index: 999;
}

.btn-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: white;
  border-bottom: 1px solid #888;
  padding-bottom: 8px;
}

.btn {
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  display: flex;
  padding: 8px;
  /* width: 10px; */
  text-align: center;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(207, 207, 207);
}

.next-bg {
  background-color: #4caf50;
  color: white;
}

.next-bg:hover {
  background-color: #357a38;
  color: white;
}

/* Navigation Dots */
.navigation {
  align-items: center;
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation li {
  border-radius: 9999px;
  height: 12px;
  width: 12px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, .3);

  /* OPTIONAL: Spacing between dots */
  margin: 0 4px;
}

.active-dot {
  background-color: rgba(0, 0, 0, .3) !important;
}

text.annotation {
  font-size: 15px;
  stroke: #ff5f45;
  fill: #ff5f45;
}

text.annotation.secondary {
  font-size: 10px;
  stroke: #ff5f45;
  fill: #ff5f45;
}

rect.annotation {
  stroke: #ff5f45;
  fill: transparent;
}

line.annotation {
  stroke: #ff5f45;
}

circle.annotation {
  stroke: #ff5f45;
  stroke-dasharray: 4;
  fill: none;
}

#mySlider {
  width: 682px;
}

.chart1-slider-container {
  padding-left: 100px;
}

h3 {
  text-align: center;
}

.no-flex {
  display: unset !important;
}

.chart-filter-container {
  margin-bottom: 5px;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.narration {
  border-radius: 10px;
  padding: 10px;
  background-color: aliceblue;
}