/* --------------------------------------- */ 
/* Custom CSS
* --------------------------------------- */

body {
  font-family: Open Sans;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0px 100px 0px 100px;
}

section {
  /* height: 900px; */
  width: 960px;
}

svg {
  border: 1px solid gray;
  padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* width: 40%; */
}

h1 {
  text-align: center;
}

.tooltip {
  position: absolute;
  background-color: white;
  border: solid;
  border-width: 1px;
  border-radius: 3px;
  padding: 10px;
  z-index: 999;
}

.btn-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.btn {
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  display: flex;
  padding: 8px;
  /* width: 10px; */
  text-align: center;
  cursor: pointer;
}

.btn:hover {
  background-color: aliceblue;
}

/* Navigation Dots */
.navigation {
  align-items: center;
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation li {
  border-radius: 9999px;
  height: 12px;
  width: 12px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, .3);

  /* OPTIONAL: Spacing between dots */
  margin: 0 4px;
}

.active-dot {
  background-color: rgba(0, 0, 0, .3) !important;
}

text.annotation {
  font-size: 15px;
  stroke: #ff5f45;
  fill: #ff5f45;
}

text.annotation.secondary {
  font-size: 10px;
  stroke: #ff5f45;
  fill: #ff5f45;
}

rect.annotation {
  stroke: #ff5f45;
  fill: transparent;
}

line.annotation {
  stroke: #ff5f45;
}

circle.annotation {
  stroke: #ff5f45;
  stroke-dasharray: 4;
  fill: none;
}

#mySlider {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h3 {
  text-align: center;
}