 /* Custom CSS
 * --------------------------------------- */

body {
  font-family: Open Sans;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0px 5px 0px 5px;
}

section {
  height: 1000px;
}

svg {
  border: 1px solid gray;
  padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* width: 40%; */
}

.btn {
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  display: flex;
  padding: 8px;
  /* width: 10px; */
  text-align: center;
  cursor: pointer;
}

.btn:hover {
  background-color: aliceblue;
}

/* Navigation Dots */
.navigation {
  align-items: center;
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation li {
  border-radius: 9999px;
  height: 12px;
  width: 12px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, .3);

  /* OPTIONAL: Spacing between dots */
  margin: 0 4px;
}

.active-dot {
  background-color: rgba(0, 0, 0, .3) !important;
}